.languageImage {
  width: auto;
  height: 8vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  padding-bottom: 5%;
}

.signupText {
  color: #000 !important;
}

@media only screen and (max-width: 760px) {
  .languageImage {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    padding-bottom: 5%;
  }

  .videoButtonCard {
    margin-top: 30% !important;
  }

  .YTVid {
    margin-top: 30% !important;
    padding-top: 80px !important;
    width: 100%;
  }

  .navHeader {
    height: 15px !important;
  }
}

.iconSmall {
  margin-right: 15px !important;
}

.memeVideo {
  margin-top: 10%;
}

.videoButtonCard {
  padding-top: 80px !important;
}

.videoSelection {
  margin-top: 15px;
  padding-bottom: 30px;
  width: 80%;
}

.greeting {
  padding-top: 10%;
}

.blinky {
  animation: blinkingText 1.5s infinite;
  margin-bottom: 15px;
}

.YTVid {
  align-items: center !important;
  margin: auto;
  width: 80%;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.navTextButton {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  color: #4183c4;
  cursor: pointer;
  outline: none;
}
