.languageImage {
  width: auto;
  height: 8vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  padding-bottom: 5%;
}

.iconSmall {
  margin-right: 15px !important;
}

.playVideo {
  padding-top: 15%;
  padding-bottom: 30px;
}

.videoButtonCard {
  padding-top: 60px !important;
}
